*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #f5f7fa;
}

.wrapper {
    width: 80vw;
}

.active {
    color: #f8ad13 !important;
    border-bottom: #f8ad13 1px solid;
}

.select:invalid {
    color: gray;
}

select{
    height: 37px;
}

@media (min-width: 1536px) {
    select{
        font-size: 2rem;
        height: 50px;
    }
    option{
        font-size: 1rem;
    }
}