*,
*::after,
*::before {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #f5f7fa;
    padding-bottom: 25px;
}


.wrapper {
    width: 80vw;
}

.active {
    color: #f8ad13 !important;
    border-bottom: #f8ad13 1px solid;
}

.select:invalid {
    color: gray;
}

select {
    height: 37px;
}

@media (min-width: 1536px) {
    select {
        font-size: 1.4rem;
        height: 40px;
    }

    option {
        font-size: 1rem;
    }
}

#arrow_r{
    width: 14px;
    height: 14px;
    fill: #f7a909 !important;
    animation: lefttoright 0.7s infinite linear;
}

@keyframes lefttoright {
    0% {
        transform: translateX(0px);
    }
    50%{
        transform: translateX(10px);
    }
    100%{
        transform: translateX(0px);
    }
}